iframe {
  border: 1px solid lightblue;
  width: 50%;
}

body {
  /*Fondo*/
  font-family: sans-serif;
  background-image: url(media/fondo7.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Barra de desplazamiento eje X*/
  overflow-x: hidden;

}

.pie{
  margin: auto;
  height: 50px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0 0 0 10px aqua,
              0 15px 30px;
  border-radius: 10px;
  
}

.contenedorInicio{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}


.picInicio {
  margin: 50px 15px 50px 10px;
  
  width: 60%;
}
.picInicio > p{
  margin-left: 10px;
}

.contenidoInicio{
  width: 30%;
  margin: 50px 15px 50px 10px;
  
}

.contenidoInicio > p{
  display: block;
  justify-content: center;
  text-align: justify;
  margin: 5px;
}

/*Barra de Navegacion*/
.lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.list {
  float: left;
}

.enlace, .menu {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right:1px solid #bbb
}

.enlace:hover, .listado:hover .menu {
  background-color: rgb(8, 200, 214);
}

.listado {
  display: inline-block;
}

.contenido {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenido a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.listado:hover .contenido {
  display: block;
}

.activo { /*terminar*/
  background-color: #04aa94;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*Pagina Estadisticas*/
/*Titulo Carrusel*/
.h2 {
  text-align: center;
  margin-top: 25px;
}

.Carrusel {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes {
  width: 800px;
  position: relative;
  box-shadow: 0 0 0 2px aqua,
              0 15px 50px;
  border-radius: 10px;
  
}

/*Botones*/
.btnCarrusel {
  font-size: 20px;
  /*Tamaño de la letra*/
  width: 40px;
  /*Ancho del boton*/
  height: 40px;
  /*Alto del boton*/
  line-height: 40px;
  /*Grosor borde del boton*/
  border-radius: 50%;
  /*Define la forma del boton*/
  background-color: rgba(0, 0, 0, .7);
  /*Color del Fondo del boton*/
  text-align: center;
  /*Centrado del texto*/
  font-weight: bold;
  /*Ancho de la letra (usado para hacer Negrita)*/
  position: relative;
  /*Posisionado de la flecha*/
  top: 45%;
  color: #fff;
  /*Color del texto*/
  box-shadow: 0 0 10px rgba (255, 255, 255, .6);
  /*Sombras*/
}

.contenedor{
  display: flex;
  
}

.enlaceCarrusel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  

}
.enlaceCarrusel:hover{
  cursor: pointer;
}

.estad {
  left: 48%;
  top: 1070px;
}

/*graficos pag Estadisticas*/
.graficosEst > iframe {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 800px;
  height: 400px;
  box-shadow: 0 0 0 2px aqua,
              0 15px 30px;
  border-radius: 10px;
  
}

.graficosEst{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}



.t2{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  width: 800px;
  height: 30px;
  background-color: rgb(27, 226, 183);
  border-radius: 10px;
}

.t2 >h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo{
  
  width: 100%;
  height: 150px;
  font-size: larger;
  text-align: justify;
}

.parrafo > p{
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
 
}



/*Pagina de Contacto*/
/*Formulario*/
form {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;

}

.titulo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.etiqueta {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  position: relative;
  margin-bottom: 15px;
}

input:focus {
  border: 2px solid #f2796e;
}


textarea:focus {
  border: 2px solid #f2796e;
}

i {
  position: absolute;
  padding: 10px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
 
}

/*  botón enviar formulario*/

.btnForm {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #6edef2;
    border: 2px solid #6edef2;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

.boton:hover {
  opacity: 0.8;
}

.resultado {
  visibility: hidden;

}

.resultado1 {
  visibility: visible;
  background-color: white;
  font-size: small;
  margin: 10px auto;
  max-width: 400px;

  border-radius: 8px;
  outline: none;
  border: 2px solid green;
  padding: 10px 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
/*Formato de los validadores*/
.mostrarIco{
  opacity: 1;
}

.bordeVerde{
  border: 2px solid green;
}

.bordeRojo{
  border: 2px solid red;
}